body
{
    margin:0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}
.topnav {
    background-color: black;
    overflow: hidden;
    width: 100%;
    top: 0;
}
.topnav a {
    float: left;
    font-family: "Arial";
    display: block;
    color: white;
    text-align: left;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover {
    background-color: #101828;
    color: #00A2D4;
}
.active {
    background-color: #4CAF50;
    color: white;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 956px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 956px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.hvr-overline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-reveal:hover:before, .hvr-overline-reveal:focus:before, .hvr-overline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
